.page-header {
  background-image: linear-gradient(to right,
  #b72d34 0%,
  #c9453e 33%,
  #da5c4a 66%,
  #e76f51 100%
  );
}

.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5, 
.main-content h6 {
  color: #da5c4a;
}

.page-header a {
  color: #ffffff;
  text-decoration: none;
}

.page-header a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.main-content a, 
footer a {
  color: #b72d34;
  text-decoration: none;
}

.main-content a:hover, 
footer a:hover {
  color: #b72d34;
  text-decoration: underline;
}

.container {
  height: 100%;
}

.team img {
  float: left;
  width: 48px;
  border: 1px solid #ddd;
  margin-right: 15px;
}

.coach {
  display: inline;
  float: left;
  margin-left: 15px;
  margin-bottom: 30px;
  img {
    border-radius: 50px;
  }
}

.event {
  .event-info {
    display: flex;
  }
  .event-description {
    flex: 2;
  }
  .event-image {
    flex: 1;
  }
  .program {
    display: flex;
  }
  .schedule {
    flex: 2;
  }
  .information {
    flex: 1;
  }
  .plan {
   }
  .plan-time {
    font-weight: bold;
  }
  .plan-description {
    padding-left: 50px;
   }

  h1 {
    min-height: 80px;
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
}

footer {
  margin-top: 2rem;
  padding: 2rem 0;
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  clear: both;
}
